<style>
    nav {
        display: flex;
        justify-content: space-around;
        background-color: #212121;
        color: white;
        padding: 10px;
    }

    nav a {
        color: white;
        text-decoration: none;
    }

    /* estilo del routerlinkactive */
    nav a.active {
        color: red;
        text-decoration: underline;
    }
</style>



<nav>
    <!-- routerLinkActive indica que cuando este en esa ruta se active la clase, junto con su estilo  -->
    <a routerLink="/"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> 
         inicio
        </a>

    <a routerLink="/hero" [routerLinkActive]="'active'"> Hero</a>

    <a routerLink="/dragonball" [routerLinkActive]="'active'"> Dragonball</a>

</nav>